.exchanges {
  margin-top: 55px;

  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 24px;
    display: block;
    text-decoration: none;
    transition: opacity .3s ease;

    &:hover,
    &:focus,
    &:active {
      opacity: .7;
      text-decoration: none;
    }
  }

  &__img {
    max-width: 100%;
  }

  @media (max-width:991px) {
    &__items {
      justify-content: center;
    }

    &__item {
      margin-right: 12px;
      margin-left: 12px;
    }
  }

  @media (max-width:576px) {
    & {
      margin-top: 35px;
    }
  }
}