.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: .9em 1.75em .8em;
  letter-spacing: .04em;
  text-transform: uppercase;
  border-radius: 4px;
  color: $white;
  border: 1px solid $bluegrey40;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    border-color: $bluegrey30;
    text-decoration: none;
  }

  &:focus,
  &:active {
    border-color: $bluegrey50;
  }
}