.form-invite {
    margin-top: 23px;

    .form-control {
        color: $gray-100;
        font-weight: 600;
        font-size: 16px;
        padding-right: 50px;

        &::placeholder {
            color: $gray-100;
        }
    }

    .form-control-icon {
        color: $brand-orange;
        position: absolute;
        top: 50%;
        right: 8px;
        left: auto;
        transform: translateY(-50%);
        pointer-events: none;
    }
}