$fontDefault: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontSizeDefault: 12px;
$lineHeight: 1.17;

$black: #000;
$gray: #374A58;
$gray2: #3C4055;
$gray3: #9499B4;
$gray-100: #8A91A7;
$gray-90: #445764;
$gray-70: #667581;
$gray-40: #BDC4CA;
$gray-15: #E6E8EB;
$gray-13: #EDEEF3;
$gray-12: #EEEFF4;
$gray-10: #F9FAFB;

$white: #fff;
$brand-orange: #F79F1A;
$light-orange: #FFD12E;
$dark-blue: #42578D;
$dark-blue2:#6D728B;
$red: #A44C4C;
$success-green: #428D57;

$bright-orange: #FFE3BA;
$bright-blue: #CCDBFF;
$bright-red: #FFC6C6;
$bright-green: #C2F9D2;
$bright-yellow: #FFF8BA;
$bright-violet: #C9C8FF;
$bright-pink: #FFCCE4;
$bright-salad: #E7FAC0;

$blue: #617AB8;
$cyan: #538C98;
$green: #50A062;
$green2: #27AE60;
$yellow: #C4AB53;
$orange: #BF844D;
$red-light: #BF5D5D;
$purple: #B05CB1;
$violet: #7059B1;


$bg-brand-gradient: linear-gradient(137.73deg, #EBECF1 0%, #F1F2F7 105.24%);
$shadow-brand: -2px -2px 6px $white, 2px 2px 6px #CCCCDC;
$shadow-brand-sm: inset -1px -1px 2px $white, inset 1px 1px 1px #CCCCDC;

$pathAssets: '../';