.form-search {
    position: relative;

    &__control {
        color: $bluegrey40;
        border: none;
        display: block;
        outline: none;
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid $bluegrey60;
        padding: 7px 0 7px 32px;

        &::placeholder {
            color: $bluegrey40;
        }
    }

    &__button {
        color: $bluegrey30;
        outline: none;
        box-shadow: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;

        &:hover,
        &:focus,
        &:active {
            color: $bluegrey10;
            box-shadow: none;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}