.notification {
    &__icon {
        width: 24px;
        height: 24px;
    }

    &__status {
        position: absolute;
        top: 0;
        right: 0;
        width: 8px;
        height: 8px;
        background-color: $green1;
        border-radius: 50%;
        animation: pulse 2s infinite;
    }

    .dropdown-toggle {
        padding: 0;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
        color: $bluegrey20;
        box-shadow: none;
        position: relative;

        &::after {
            display: none;
        }

        &:hover,
        &:focus,
        &:active {
            color: $bluegrey30;
        }
    }

    .dropdown-menu {
        text-align: center;
        min-width: 10rem;
        padding: .5rem 1rem;
        font-size: 11px;
        line-height: 15px;
        color: $bluegrey20;
        background-color: $bluegrey50;
        border-color: $bluegrey50;
        box-shadow: 0px 4px 4px rgba($black, .25);
        border-radius: 4px;
    }
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($green1, .6);
    }

    70% {
        box-shadow: 0 0 0 10px rgba($green1, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba($green1, 0);
    }
}