html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


html,
body {
  overflow-x: hidden;
}



/* form elements */

* {
  outline: none !important;
}

input,
select,
button,
textarea {
  font-family: $fontDefault;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




/* link */

a {
  color: $brand-orange;
  text-decoration: none;
}

a:hover {
  color: $light-orange;
  text-decoration: none;
}

a:focus,
a:active {
  color: $brand-orange;
  text-decoration: none;
}


.link--blue {
  color: #0088DC;

  &:hover,
  &:focus,
  &:active {
    color: #0088DC;
    text-decoration: underline;
  }
}





/* typography */

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 24px;
  word-wrap: break-word;

  @media (max-width: 767px) {
    & {
      font-size: 32px;
      margin-bottom: 12px;
    }
  }
}


.subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}





/* text-lead */

.text-lead {
  color: $gray-40;
}

.text-success2 {
  color: $green2;
}

.text-gray {
  color: #B5BCDA;
}

.text-gray2 {
  color: #8A91A7;
}




/* pict */

.pict {
  width: 100%;

  &__image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
}





/* line */

.line {
  background-color: $gray-15;
  height: 1px;
  width: 100%;

  &--custom {
    box-shadow: 0 -1px $white;
  }
}






/* icons css */

.i-right {
  display: inline-flex;
  width: 8px;
  height: 8px;
  border: 2px solid $gray-100;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
  margin-right: 8px;
  position: relative;
  top: -2px;
}





/* font weight */

.fw {
  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }

  &-800 {
    font-weight: 800;
  }
}